@import "./variables.module.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $nav_border;
  padding: 0.5rem 0rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      list-style-type: none;
    }
  }
}
