@import "./variables.module.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 0 1rem;
  border-bottom: $nav_border;
  padding: 0.5rem 0;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      position: relative;
      width: 30px;
      height: 30px;

      .badge {
        z-index: 10;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        color: white;
        top: -5px;
        right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
      }
      cursor: pointer;
      list-style-type: none;
    }
  }
}
