@import "./variables.module.scss";

.body {
  padding: 1rem 1rem 2rem 1rem;
  overflow: hidden;
  overflow-y: auto;
  .company_banner {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    .title_box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: clamp(1.2rem, 1.5vw, 2rem);
        color: $green_text_color;
        font-weight: 800;
      }
    }
    .banner {
      position: relative;
      border-radius: 5px;
      width: 100%;
      min-height: 250px;
      display: flex;
      overflow: hidden;

      .banner_img {
        position: relative;
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
        overflow: hidden;
        .cover {
          z-index: 10;
          height: 100%;
          flex-grow: 0.3;
          background-color: #ffffffb3;
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: clamp(1rem, 3vw, 3rem);
          font-weight: 800;
          color: black;
        }
      }

      .dp {
        position: absolute;
        padding: 0.5rem;
        display: flex;
        gap: 1rem;
        left: 1rem;
        bottom: 10px;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        z-index: 10;
        display: flex;
      }
    }
    .scope {
      .scope_title {
        font-size: clamp(1rem, 1.3vw, 2rem);
        font-weight: 700;
        color: $scope_title_color;
      }
    }
  }
}
