//styles
$nav_border: solid 1px #E9EBEB;
$toolBar_border: solid 1px #D3D7D7;
$tab_border: solid 1px #D3D7D7;

//colors
$background: #F2FBF9;
$green_text_color: #04433B;
$green_button_color: #00B686;
$active_text_color: #00B686;
