//styles
$nav_border: solid 1px #e9ebeb;
$toolBar_border: solid 1px #d3d7d7;
$tab_border: solid 1px #d3d7d7;

//colors
$background: #f2fbf9;
$green_text_color: #04433b;
$green_button_color: #00b686;
$active_text_color: #00b686;
$inActive_text_color: #657372;
$scope_title_color: #233735;
$action_title_color: #7b8786;
$action_bar_bg_color: #d3d7d7;
$action_bar_fg_color: #00b686;

//mixins
@mixin tabs {
  @media (max-width: 780px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
