//styles
$nav_border: solid 1px #e9ebeb;
$toolBar_border: solid 1px #d3d7d7;
$tab_border: solid 1px #d3d7d7;

//colors
$background: #f2fbf9;
$green_text_color: #04433b;
$green_button_color: #00b686;
$active_text_color: #00b686;
$inActive_text_color: #657372;
$scope_title_color: #233735;
